@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .container{
        @apply mx-auto px-4 md:px-8
    }

    @font-face {
        font-family: 'Neuro';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("../fonts/neuropolitcalrg.woff2") format('woff2');
    }

    @font-face {
        font-family: 'Resamitz';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("../fonts/resamitz.woff2") format('woff2');
    }

    /* 20px */
    .heading-xxs{
        @apply font-neuro lg:text-[1.25rem] lg:leading-9 tracking-wide
    }
  
    /* 30px */
    .heading-xs{
        @apply font-neuro lg:text-[1.875rem] lg:leading-8 tracking-wide
    }
    
    /* 32px */
    .heading-sm{
        @apply font-neuro lg:text-[2rem] lg:leading-[3.125rem] tracking-wide
    }
    
    /* 46px */
    .heading-md{
        @apply font-neuro lg:text-[2.875rem] lg:leading-[3.125rem] tracking-wide
    }
    
    /* 50px */
    .heading-lg{
        @apply font-neuro lg:text-[3.125rem] lg:leading-[3.75rem] tracking-wide
    }
    
    /* 60px */
    .heading-xl{
        @apply font-neuro lg:text-[3.75rem] lg:leading-[3.125rem] tracking-wide
    }
    
    /* 65px */
    .heading-2xl{
        @apply font-neuro lg:text-[4.0625rem] lg:leading-[5.4375rem] tracking-wide
    }
}