html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  background-color: #f5f5f5;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}
a{
  color: inherit;
}
.overflow-hidden{
    overflow: hidden;
}

main,
foooter {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-column: span 12 / span 12;
}

header, nav, .photo {
    grid-column: span 12 / span 12;
}

.container {  
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 1rem;
  flex-direction: column;
  row-gap: 1.25rem;
}

header .title{
  text-transform: uppercase;
  font-weight: 800;
  margin: 0;
  font-size: 2.375rem;
}

header .social-icons {
  display: flex;
  gap: 2.5rem;
}

header .social-icons img, header .social-icons a {
  width: 2.8125rem;
  height: 2.8125rem;
}

header .social-icons a:hover img.not-hover, header .social-icons img.hover,footer  a:hover img.not-hover, footer img.hover{
  display: none;
}

header .social-icons a:hover img.hover, footer a:hover img.hover{
  display: block;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(1, 0, 1, 1);
  }
  50% {
    transform: translateY(-15%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

header .button {
  background-color: #0B3453;
  border-radius: 0.625rem;
  padding: 0.625rem 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  border: none;
  cursor: pointer;
  transform: translateY(0);
  text-decoration: none;
}

header .button:hover {
  background-color: #10568b;
}

header .button:hover,  header .social-icons a:hover img.hover, footer nav a:hover{
  animation: bounce 1s infinite;
}


header h1, .photo, .popup-content{
  color: #0B3453;
}

.photo{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 9.375rem 1rem;
}

.photo .title{
  font-size: 2.625rem;
  font-weight: 900;
  text-transform: uppercase;
}
.photo .subtitle{
  font-size: 1.875rem;
}

.photo .subtitle, .popup-content .title {
  font-weight: 600;
  text-transform: uppercase;
}

footer {
  background-color: #0B3453;
  width: 100%;
  padding: 1.25rem 0;
  text-align: center; 
}

footer nav a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.125rem;
    margin: 0 0.625rem;
    text-decoration: none;
    gap: 0.625rem;
    transform: translateY(0);
}

footer nav span{
  transform: translateY(0.125rem);
}

footer nav a:hover{
  color: #c4c4c4;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

footer nav a, footer nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1.25rem;
}

footer nav{
    justify-content: center;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  padding: 2.5rem 1.25rem 2.5rem;
  background: #fff;
  position: relative;
  width: 100%;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

.popup-content .title{
  font-size: 30px;
  margin-bottom: 0.625rem;
}

.popup-content .subtitle{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.popup-content ul{
  margin: 1.25rem;
  line-height: 1.5625rem;
}

.popup-content .infos{
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.popup-content .infos .info{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.popup-content .infos .info a{
  color: inherit;
  text-decoration: underline;
}

.popup-content .subtitle.new-section{
  margin-top: 40px;
  font-size: 1.25rem;
  margin-bottom: 25px;
  border-bottom: 1px solid #ccc;
}

.cases{
  display: grid;
  flex-direction: column;
  row-gap: 2.5rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: 20;
}

.cases .case{
  background-color: #f9f9f9;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid #0B3453;
}

.cases strong{
  font-weight: 900;
  color: #0B3453;
}

.popup-content .icons{
  margin-top: 1.25rem;
  display: flex;
  flex-direction: row;
  column-gap: 1.25rem;
}

.cases .icons img{
  width: 3.125rem;
  height: 3.125rem;
}

.popup-content .icon-experience{
  width: 1.5rem;
  height: 1.5rem;
}

.popup-content .subtitle-experience{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.625rem;
  margin-bottom: 0.3125rem;
}

.popup .close {
  position: absolute;
  top: 0.625rem;
  right: 1.875rem;
  font-size: 2.5rem;
  cursor: pointer;
}

@media screen and (min-width:  640px) {
    .container {
        max-width: 40rem;
    }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 48rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    min-height: 632px;
  }

  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  header,
  nav, .photo {
    grid-column: span 10 / span 10;
    grid-column-start: 2;
  }

  .container {
    max-width: 1024px;
    padding: 2.5rem 40px 0 2.5rem;
    border-radius: 0.625rem;
  }

  footer{
    border-radius: 0 0 0.625rem 0.625rem;
  }

  footer nav{
    gap: 5rem;
  }

  .popup {
    align-items: center;
    top: 0;
  }

  .popup-content {
    max-width: 37.5rem;
    max-height: 25rem;
    padding: 5rem;
  }

  header, .photo{
   padding-left: 0; 
   padding-right: 0;
  }

  header, footer nav a, footer nav{
    flex-direction: row;
    row-gap: 0;
  }  

  .cases{
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0;
    max-width: 1280px;
  }
  .popup-content {
    max-width: 1024px;
  }
  .container { 
    width: 100%;
  }
}

@media screen and (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.scroll-effect {
  opacity: 0;
  transform: translateY(3.125rem);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.scroll-effect.visible {
  opacity: 1;
  transform: translateY(0);
}