html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  background-color: #f5f5f5;
  padding: 40px 0;
  font-family: "Rubik", sans-serif;
}
a{
    text-decoration: none;
}
.overflow-hidden{
    overflow: hidden;
}

main,
foooter {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-column: span 12 / span 12;
}

header, nav, .photo {
    grid-column: span 12 / span 12;
}

@media (min-width: 1024px) {
  header,
  nav, .photo {
    grid-column: span 10 / span 10;
    grid-column-start: 2;
  }
}

.container {  
    background-color: #fff;
    padding-top: 40px;
    border-radius: 10px;
    margin: 0 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
    width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

header .title{
  text-transform: uppercase;
  font-weight: 800;
  margin: 0;
  font-size: 38px;
}

header .social-icons {
  display: flex;
  gap: 40px;
}

header .social-icons img, header .social-icons a {
  width: 45px;
  height: 45px;
}

header .button {
  background-color: #0B3453;
  border-radius: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  border: none;
  cursor: pointer;
}

header h1, .photo, .popup-content{
  color: #0B3453;
}

.photo{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 9.375rem 0;
}

.photo .title{
  font-size: 42px;
  font-weight: 900;
  text-transform: uppercase;
}
.photo .subtitle{
  font-size: 30px;
}

.photo .subtitle, .popup-content .title {
  font-weight: 600;
  text-transform: uppercase;
}

footer {
  background-color: #0B3453;
  width: 100%;
  padding: 40px 0;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

footer nav a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.125rem;
    margin: 0 10px;
    text-decoration: none;
    gap: 10px;
}
footer nav a, footer nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer nav{
    justify-content: center;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #fff;
  padding: 80px;
  position: relative;
  max-height: 400px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

.popup-content .title{
  font-size: 25px;
  margin-bottom: 0.625rem;
}

.popup-content .subtitle{
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.popup-content ul{
  margin: 20px;
  line-height: 25px;
}

.popup-content .cases{
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.popup-content .cases .subtitle{
  text-transform: uppercase;
}

.popup-content .icons{
  margin-top: 1.25rem;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.popup-content .cases .icons img{
  width: 50px;
  height: 50px;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  cursor: pointer;
}

@media screen and (min-width:  640px) {
    .container {
        max-width: 640px;
    }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0 2.5rem;
    max-width: 1024px;
  }
  footer nav{
    gap: 5rem;
  }
  .popup-content {
    max-width: 600px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0;
    max-width: 1280px;
  }
  .popup-content {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.scroll-effect {
  opacity: 0;
  transform: translateY(3.125rem);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.scroll-effect.visible {
  opacity: 1;
  transform: translateY(0);
}