@import "../../helpers/variables.scss";
@import "../../helpers/mixins.scss";

.cases {
  display: grid;
  flex-direction: column;
  row-gap: 2.5rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: 20px;

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 2.5rem;
  }

  .case {
    background-color: $gray-ultralight;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid $blue-dark;
  }

  strong {
    font-weight: 900;
    color: $blue-dark;
  }
}
