@import "../../helpers/variables.scss";
@import "../../helpers/mixins.scss";

.photo{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 9.375rem;
    padding-bottom: 9.375rem;
    font-family: $font-pacifico;

    @media screen and (min-width: $breakpoint-lg){
      padding: 0;
    }
        
    .title{
      font-size: 2.5rem;
      
      @media screen and (min-width: $breakpoint-md){
        font-size: 3.875rem;
      }
    }
    
    .subtitle{
      font-size: 1.875rem;
    }
}
