$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-1_5xl: 1440px;
$breakpoint-2xl: 1536px;

$white: #fff;
$black: #000;
$green: #61CE70;
$blue: #10568b;
$blue-medium: #003b68;
$blue-dark: #0b3453;
$gray-ultralight: #f5f5f5;
$gray-light: #c4c4c4;
$gray-medium: #9babab;
$green-light: #CFDFDE;
$font-rubik: "Rubik", sans-serif;
$font-pacifico: "Pacifico", cursive;