$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-1_5xl: 1440px;
$breakpoint-2xl: 1536px;

$white: #fff;
$black: #000;
$blue: #3CE0FC;
$blue-medium: #064588;
$blue-dark: #192a86;
$gray-light: #F5F5F5;
$gray-medium: #ECECEC;