@import "../../helpers/variables.scss";
@import "../../helpers/mixins.scss";

.about{
    margin-top: 2.5rem;
    display: grid;
    @include grid-cols-12;
    @media (min-width: $breakpoint-lg){
        margin-top: 5rem;
    }

    .content{
        display: flex;
        flex-direction: column;
        row-gap: 1.25rem;
        @include col-span-12;
        color: $blue-dark;
        
        @media (min-width: $breakpoint-lg){
            @include col-span-10;
            @include col-start-2;
        }
        
        .title, .subtitle{
            font-weight: 900;
            text-transform: uppercase;
        }
        .title{
            font-size: 1.875rem;
            margin-bottom: 1.25rem;
        }

        .subtitle{
            font-size: 1.125rem;
            margin-top: 1.25rem;

            &.featured{
                font-size: 1.5625rem;
            }
        }

        .list{
            list-style: disc;
            margin-left: 1.25rem;
        }

        .link{
            text-decoration: underline;
        }
    }
}