.default-heading-title h1,
.default-heading-title h2,
.default-heading-title h3 {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.banner .default-heading-title h1,
.banner .default-heading-title h2,
.banner .default-heading-title h3 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .banner .default-heading-title h1,
  .banner .default-heading-title h2,
  .banner .default-heading-title h3,
  .banner .default-heading-title p,
  .banner .button {
    margin-left: 8%;
  }
  .banner .default-heading-title h1,
  .banner .default-heading-title h2,
  .banner .default-heading-title h3 {
    width: 55%;
  }
  .banner .default-heading-title p {
    width: 40%;
  }
}
@media screen and (min-width: 1280px) {
  .banner .default-heading-title h1,
  .banner .default-heading-title h2,
  .banner .default-heading-title h3,
  .banner .default-heading-title p,
  .banner .button {
    margin-left: 5%;
  }
}
@media screen and (min-width: 1440px) {
  .banner .default-heading-title h1,
  .banner .default-heading-title h2,
  .banner .default-heading-title h3,
  .banner .default-heading-title p,
  .banner .button {
    margin-left: 0;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

button {
  outline: 0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

q {
  display: inline;
  font-style: italic;
}

q:before {
  content: '"';
  font-style: normal;
}

q:after {
  content: '"';
  font-style: normal;
}

textarea,
input[type=text],
input[type=button],
input[type=submit],
input[type=reset],
input[type=search],
input[type=password] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: 2px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  line-height: 1.875rem;
  overflow-x: hidden;
  color: #175c91;
}

a {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: #175c91;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
a:hover {
  color: #041420;
}

a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

[aria-current]:not([aria-current=false]) {
  color: #9BABAB !important;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  width: 100%;
}
@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 2.5rem;
    max-width: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1536px;
  }
}

.py-3 {
  padding: 0.75rem;
}

.flex {
  display: flex !important;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.object-cover {
  object-fit: cover;
}

.overflow-hidden {
  overflow: hidden;
}

.grid {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-cols-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-cols-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blue-dark {
  color: #175c91;
}

.uppercase {
  text-transform: uppercase;
}

.mt-20 {
  margin-top: 5rem;
}

.text-center {
  text-align: center;
}

.show-desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  .show-desktop {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .show-mobile {
    display: none;
  }
}

.button {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  width: fit-content;
  padding: 12px;
  text-decoration: none;
  border-radius: 0.625rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}
@media screen and (min-width: 1024px) {
  .button {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    line-height: 1.875rem;
  }
}

.button-second {
  background-color: #175c91;
  color: #fff;
}
.button-second:hover {
  background-color: #041420;
  color: #fff;
}

.button-default {
  background-color: #fff;
  color: #175c91;
}
.button-default:hover {
  background-color: #9BABAB;
}

.post-not-found {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  row-gap: 1.25rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.post-not-found .entry-title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  line-height: 1.875rem;
  color: #175c91;
}
@media screen and (min-width: 1024px) {
  .post-not-found .entry-title {
    font-size: 1.25rem;
  }
}

.bg-blue-hard-light {
  background-color: #041420;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  z-index: 10;
}

.scroll-effect {
  opacity: 0;
  transform: translateY(3.125rem);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.scroll-effect.visible {
  opacity: 1;
  transform: translateY(0);
}

.header-menu-itens {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
@media screen and (min-width: 1024px) {
  .header-menu-itens {
    column-gap: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .header-menu-itens {
    justify-content: inherit;
    padding-top: 5rem;
    padding-bottom: 5rem;
    column-gap: 3.5rem;
  }
}
.header-menu-itens .logo {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  line-height: 2.5rem;
  font-size: 1.875rem;
}
@media screen and (min-width: 1024px) {
  .header-menu-itens .logo {
    font-size: 40px;
  }
}
.header-menu-itens .menu-items {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 30;
  display: none;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
}
@media screen and (min-width: 1280px) {
  .header-menu-itens .menu-items {
    position: relative;
    display: flex;
    justify-content: end;
    row-gap: 1.25rem;
  }
}
.header-menu-itens .menu-items nav#custom-header-menu {
  overflow-y: scroll;
  padding-bottom: 3.75rem;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .header-menu-itens .menu-items nav#custom-header-menu {
    overflow-y: inherit;
    padding-bottom: 0;
    width: auto;
  }
}
.header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  margin-top: 3.125rem;
}
@media screen and (min-width: 1024px) {
  .header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu {
    flex-direction: row;
    row-gap: 0;
    column-gap: 1rem;
    margin-top: 0;
  }
}
@media screen and (min-width: 1440px) {
  .header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu {
    column-gap: 1.5rem;
  }
}
@media screen and (min-width: 1536px) {
  .header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu {
    column-gap: 4rem;
  }
}
.header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  line-height: 1.875rem;
}
@media screen and (min-width: 1024px) {
  .header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu li a {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 1023px) {
  .header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu li a {
    color: #CCD0CF;
  }
}
.header-menu-itens .menu-items.openned {
  background-color: #041420;
  padding: 1.25rem;
  display: flex;
}
.header-menu-itens .menu-items .bg-close-menu-mobile {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  padding-left: 1.5rem;
  text-indent: -624.9375rem;
  border: none;
  position: absolute;
  top: 1.75rem;
  right: 1rem;
  width: 2.25rem;
  height: 2.25rem;
  background: url("../../src/icons/close-menu-icon.svg");
}
@media screen and (min-width: 1024px) {
  .header-menu-itens .menu-items .bg-close-menu-mobile {
    display: none;
  }
}
.header-menu-itens .open-menu-mobile .bg-menu-mobile {
  background: url("../../src/icons/menu-icon.svg");
  width: auto;
  height: 2.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  padding-left: 1.5rem;
  text-indent: -624.9375rem;
  border: none;
}
@media screen and (min-width: 1280px) {
  .header-menu-itens .open-menu-mobile .bg-menu-mobile {
    display: none;
  }
}

footer .after-footer-bg {
  background-color: #175c91;
  color: #fff;
  padding: 10px;
}
footer .after-footer-bg a {
  color: #fff;
}
footer .after-footer {
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  footer .after-footer {
    flex-direction: row;
  }
}
footer .social-networks {
  grid-column: span 12/span 12;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  column-gap: 1.25rem;
  margin: 2.5rem 0;
}
@media screen and (min-width: 1024px) {
  footer .social-networks {
    grid-column: span 1/span 1;
  }
}
footer .social-networks img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
}
footer .wpp-float {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  position: fixed;
  z-index: 50;
  animation: bounce 1s infinite;
  bottom: 100px;
  right: 1.25rem;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1024px) {
  footer .wpp-float {
    right: 2.5rem;
    bottom: 9.375rem;
  }
}
footer .scroll-to-top-btn {
  background-position: center;
  cursor: pointer;
  overflow: hidden;
  padding-left: 1.5rem;
  text-indent: -624.9375rem;
  border: none;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: fixed;
  bottom: 2.5rem;
  right: 1.875rem;
  background: url("../../src/icons/up-arrow.svg");
  width: 1.875rem;
  height: 1.875rem;
  object-fit: contain;
}
@media screen and (min-width: 1024px) {
  footer .scroll-to-top-btn {
    right: 2.5rem;
    bottom: 5rem;
  }
}

.arrow-swiper {
  width: 3.75rem !important;
}

.arrow-swiper::after {
  content: "" !important;
  background-image: url("../../src/icons/arrow-right-circle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 2.8125rem;
  width: 2.8125rem;
}

.swiper-button-next.arrow-swiper-next, .swiper-button-prev.arrow-swiper-prev {
  display: none;
}
@media screen and (min-width: 1024px) {
  .swiper-button-next.arrow-swiper-next, .swiper-button-prev.arrow-swiper-prev {
    display: flex;
  }
}

.swiper-button-next.arrow-swiper-next {
  right: 1.875rem;
}

.swiper-button-prev.arrow-swiper-prev {
  left: 1.875rem;
}

.arrow-swiper-prev::after {
  transform: rotate(180deg);
}

.swiper-container {
  position: relative;
  height: 25rem;
}
@media screen and (min-width: 1024px) {
  .swiper-container {
    height: 31.25rem;
  }
}
.swiper-container .swiper-slide a {
  margin-top: 24px;
  text-decoration: none;
}
.swiper-container .swiper-slide .default-heading-title {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  justify-content: center;
  right: 0;
}

.banners .default-heading-title {
  padding: 0 1rem;
}
@media screen and (min-width: 640px) {
  .banners .default-heading-title {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .banners .default-heading-title {
    max-width: 48rem;
  }
}
@media screen and (min-width: 1024px) {
  .banners .default-heading-title {
    padding: 0 2.5rem;
    max-width: 64rem;
  }
}
@media screen and (min-width: 1280px) {
  .banners .default-heading-title {
    max-width: 80rem;
  }
}
@media screen and (min-width: 1536px) {
  .banners .default-heading-title {
    max-width: 96rem;
  }
}
.banners .default-heading-title h1, .banners .default-heading-title h2 {
  text-transform: uppercase;
}
.banners .default-heading-title h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-top: 0.625rem;
}
@media screen and (min-width: 1024px) {
  .banners .default-heading-title h1 {
    font-size: 3.4375rem;
    text-indent: -1px;
    line-height: 3.5rem;
  }
}

.works {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
@media screen and (min-width: 1024px) {
  .works {
    padding-top: 9.375rem;
    padding-bottom: 9.375rem;
  }
}
.works .heading-title {
  grid-column: span 12/span 12;
}
@media screen and (min-width: 1024px) {
  .works .heading-title {
    grid-column: span 6/span 6;
    grid-column-start: 4;
  }
}
.works .heading-title h1, .works .heading-title h2, .works .heading-title h3, .works .heading-title h4 {
  margin-bottom: 1.25rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
@media screen and (min-width: 1024px) {
  .works .heading-title h1, .works .heading-title h2, .works .heading-title h3, .works .heading-title h4 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .works .heading-title h1, .works .heading-title h2, .works .heading-title h3, .works .heading-title h4 {
    margin-bottom: 2.5rem;
    line-height: 2.75rem;
  }
}
.works .heading-title p {
  font-weight: 600;
  margin-bottom: 0.625rem;
}
.works .slide {
  grid-column: span 12/span 12;
  overflow: hidden;
  margin-top: 5rem;
}
.works .slide .swiper-slide {
  height: 25rem;
  position: relative;
  cursor: pointer;
  border-radius: 1.25rem;
  overflow: hidden;
}
.works .slide .swiper-slide .title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  line-height: 1.875rem;
  margin-bottom: 1.25rem;
  text-align: center;
  z-index: 10;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .works .slide .swiper-slide .title {
    font-size: 1.25rem;
  }
}
.works .slide .swiper-slide .mouse-hover {
  display: none;
}
.works .slide .swiper-slide:hover .mouse-hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 33, 45, 0.8);
}
.works .slide .swiper-slide:hover .mouse-hover .content a {
  display: block;
}
@media screen and (min-width: 1024px) {
  .works .slide .swiper-slide:hover .mouse-hover .content {
    max-width: 28.125rem;
  }
}

.about {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media screen and (min-width: 1024px) {
  .about {
    padding-top: 9.375rem;
    padding-bottom: 9.375rem;
  }
}
.about .relative {
  position: relative;
}
.about .bg-image {
  grid-column: span 12/span 12;
  position: relative;
  height: 25rem;
}
@media screen and (min-width: 1024px) {
  .about .bg-image {
    grid-column: span 6/span 6;
    height: 40rem;
  }
}
.about .bg-image img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 25rem;
}
@media screen and (min-width: 1024px) {
  .about .bg-image img {
    height: 40rem;
  }
}
@media screen and (min-width: 640px) {
  .about .bg-image img, .about .content {
    height: 31.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .about .bg-image img, .about .content {
    height: 40rem;
  }
}
.about .blue-bg {
  background-color: #175c91;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.about .default-heading-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 9.375rem;
}
@media screen and (min-width: 1024px) {
  .about .default-heading-title {
    font-size: 3.4375rem;
    text-indent: -1px;
    line-height: 3.5rem;
  }
}
.about .content {
  grid-column: span 12/span 12;
  background-color: #175c91;
  color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 20;
  row-gap: 2.5rem;
  padding: 5rem 1rem;
}
@media screen and (min-width: 1024px) {
  .about .content {
    grid-column: span 5/span 5;
    grid-column-start: 7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    padding-left: 2.5rem;
  }
}
@media screen and (min-width: 1440px) {
  .about .content {
    grid-column: span 4/span 4;
    grid-column-start: 8;
  }
}
.about .content p {
  line-height: 1.875rem;
}
.about .content .button-first {
  display: block;
}

.benefits {
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
@media screen and (min-width: 1024px) {
  .benefits {
    padding-bottom: 9.375rem;
  }
}
.benefits .title {
  grid-column: span 8/span 8;
  grid-column-start: 3;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
  margin-bottom: 5rem;
}
@media screen and (min-width: 1024px) {
  .benefits .title {
    font-size: 3.4375rem;
    text-indent: -1px;
    line-height: 3.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .benefits .title {
    margin-bottom: 9.375rem;
  }
}
.benefits .lists {
  grid-column: span 12/span 12;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: 2.5rem;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .benefits .lists {
    column-gap: 2.5rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 0;
  }
}
.benefits .lists .list {
  text-align: center;
}
.benefits .lists .list .icon {
  background-color: #175c91;
  width: 7.6875rem;
  height: 7.6875rem;
  border-radius: 99999px;
  margin-bottom: 1.875rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.benefits .lists .list .icon img {
  width: 4.375rem;
  height: 4.375rem;
  object-fit: contain;
}
.benefits .lists .list h1, .benefits .lists .list h2, .benefits .lists .list h3, .benefits .lists .list h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  line-height: 1.875rem;
  color: #175c91;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 1024px) {
  .benefits .lists .list h1, .benefits .lists .list h2, .benefits .lists .list h3, .benefits .lists .list h4 {
    font-size: 1.25rem;
  }
}

.offer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #175c91;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .offer {
    padding-top: 9.375rem;
    padding-bottom: 9.375rem;
  }
}
.offer .heading-title {
  text-align: center;
  margin-bottom: 2.5rem;
}
.offer .heading-title h1, .offer .heading-title h2, .offer .heading-title h3, .offer .heading-title h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
  .offer .heading-title h1, .offer .heading-title h2, .offer .heading-title h3, .offer .heading-title h4 {
    font-size: 3.4375rem;
    text-indent: -1px;
    line-height: 3.5rem;
  }
}
.offer .packages {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: 1.25rem;
  align-items: baseline;
}
@media screen and (min-width: 1280px) {
  .offer .packages {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 0;
    column-gap: 1.25rem;
  }
}
.offer .packages .package {
  text-align: center;
  background-color: #fff;
  color: #175c91;
  padding: 2.5rem 1.25rem;
  border-radius: 0.625rem;
  position: relative;
}
.offer .packages .package .title h1, .offer .packages .package .title h2, .offer .packages .package .title h3, .offer .packages .package .title h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 1.875rem;
  color: #175c91;
  margin-bottom: 1.25rem;
}
.offer .packages .package .options {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  margin: 2.5rem 0;
}
.offer .packages .package .options .option {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  text-align: left;
}
.offer .packages .package .options .option img {
  width: 3.125rem;
  height: 3.125rem;
}
.offer .packages .package .options .option .text h1, .offer .packages .package .options .option .text h2, .offer .packages .package .options .option .text h3, .offer .packages .package .options .option .text h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  line-height: 1.875rem;
  color: #175c91;
}

.hiring {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media screen and (min-width: 1024px) {
  .hiring {
    padding-top: 9.375rem;
    padding-bottom: 9.375rem;
  }
}
.hiring .title {
  text-align: center;
  margin-bottom: 5rem;
}
@media screen and (min-width: 1024px) {
  .hiring .title {
    margin-bottom: 6.25rem;
  }
}
.hiring .title h1, .hiring .title h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 0.625rem;
}
@media screen and (min-width: 1024px) {
  .hiring .title h1, .hiring .title h2 {
    font-size: 3.4375rem;
    text-indent: -1px;
    line-height: 3.5rem;
  }
}
.hiring .title h3, .hiring .title h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
@media screen and (min-width: 1024px) {
  .hiring .title h3, .hiring .title h4 {
    font-size: 40px;
  }
}
.hiring .lists {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: 2.5rem;
}
@media screen and (min-width: 1024px) {
  .hiring .lists {
    column-gap: 5rem;
    row-gap: 0;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.hiring .lists .list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hiring .lists .list.list-3::after {
  content: none;
}
@media screen and (min-width: 1024px) {
  .hiring .lists .list::after {
    content: "";
    position: absolute;
    background-image: url("../../src/icons/arrow-right.svg");
    right: -2.5rem;
    top: 0;
    width: 1.875rem;
    height: 20.5625rem;
    transform: translateY(50%);
    background-size: 1.5625rem;
    background-repeat: no-repeat;
  }
}
.hiring .lists .list .icon {
  background-color: #175c91;
  border-radius: 99999px;
  width: 7.6875rem;
  height: 7.6875rem;
  margin-bottom: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hiring .lists .list .icon img {
  width: 4.375rem;
  height: 4.375rem;
  object-fit: contain;
}
.hiring .content, .hiring .text {
  text-align: center;
}
.hiring .content h1, .hiring .content h2, .hiring .content h3, .hiring .content h4, .hiring .text h1, .hiring .text h2, .hiring .text h3, .hiring .text h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  line-height: 1.875rem;
}
@media screen and (min-width: 1024px) {
  .hiring .content h1, .hiring .content h2, .hiring .content h3, .hiring .content h4, .hiring .text h1, .hiring .text h2, .hiring .text h3, .hiring .text h4 {
    font-size: 1.25rem;
  }
}
.hiring .text {
  margin-top: 5.9375rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}
@media screen and (min-width: 1024px) {
  .hiring .text {
    max-width: 43.75rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact {
  padding: 6.25rem 0;
  background-color: #175c91;
  color: #fff;
}
.contact .title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 6.25rem;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .contact .title {
    font-size: 3.4375rem;
    text-indent: -1px;
    line-height: 3.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
