@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  display: flex;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  @media screen and (min-width: $breakpoint-lg) {
    justify-content: center;
  }
}

body {
  background-color: $green-light;
  font-family: $font-rubik;
  overflow: hidden;
  width: 100%;
}

a {
  color: inherit;
}

.overflow-hidden {
  overflow: hidden;
}

.container {
  padding: 0 16px;
  width: 100%;
  @include mx-auto;
}

.container,
.content {
  @media screen and (min-width: $breakpoint-sm) {
    max-width: $breakpoint-sm;
  }

  @media screen and (min-width: $breakpoint-md) {
    max-width: $breakpoint-md;
  }

  @media screen and (min-width: $breakpoint-lg) {
    padding: 0 2.5rem;
    max-width: 100%;
  }
}

.content {
  position: relative;
  background-image: url("../../library/images/notebook.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  overflow: hidden;
  background-position-y: 46px;
  background-position-x: -10px;
  height: 100%;

  @media screen and (min-width: $breakpoint-lg) {
    background-position-y: initial;
    background-position-x: initial;
  }

  &::before {
    content: "";
    background-size: contain;
    background-image: url("../../library/icons/brochure-mobile.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%; 
    position: absolute;
    pointer-events: none;

    @media screen and (min-width: $breakpoint-lg) {
      background-size: cover;
      background-image: url("../../library/icons/brochure.svg");
      width: 108px;
      left: -3.125rem;
    }
  }

  .layout {
    padding-top: 9.375rem;
    padding-left: 3.125rem;
    padding-right: 0.625rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    @media screen and (min-width: $breakpoint-md) {
      padding-top: 15.625rem; 
    }

    @media screen and (min-width: $breakpoint-lg) {
      @include col-span-9;
      @include col-start-3;
      padding: 0;
      min-height: 100vh;
    }
  }

  &.menu-mobile-openned{
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
}

html,
.content {
  @media screen and (min-width: $breakpoint-lg) {
    align-items: center;
    justify-content: center;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(1, 0, 1, 1);
  }
  50% {
    transform: translateY(-15%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.scroll-effect {
  opacity: 0;
  transform: translateY(3.125rem);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.scroll-effect.visible {
  opacity: 1;
  transform: translateY(0);
}

.experience p.description {
  margin-top: 1.25rem;
}

.highlighter{
  background-image: url("../../library/icons/highlighter.svg");
  background-size: cover;
  width: 188px;
  height: 155px;
  position: absolute;
  top: 0;
  left: 0;
}