@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";

footer {
  @media screen and (min-width: $breakpoint-lg) {
    border-radius: 0 0 0.625rem 0.625rem;
  }

  @media screen and (min-width: $breakpoint-2xl) {
    footer nav {
      column-gap: 2.5rem;
    }
  }
  .open-menu-mobile {
    float: right;

    @media screen and (min-width: $breakpoint-lg) {
      display: none;
    }

    .bg-menu-mobile {
      background-image: url("../../library/icons/menu-icon.svg");
      text-indent: -624.9375rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      position: absolute;
      bottom: 1.25rem;
      right: 1.25rem;
      overflow: hidden;
      width: 2.5rem;
      height: 2.5rem;

      @media screen and (min-width: $breakpoint-md) {
        width: 3.75rem;
        height: 3.75rem;
      }
    }
  }

  .menu-slider {
    display: none;
    overflow-x: auto;
    
    @media screen and (min-width: $breakpoint-lg) {
      align-items: center;
      justify-content: space-between;
      display: flex;
      overflow: hidden;
      column-gap: 2.5rem;
    }

    a.item {
      color: $blue-dark;
      font-size: 1.5rem;
      text-decoration: none;
      gap: 0.625rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: $font-pacifico;
      position: relative;

      .desktop {
        display: none;
        @media screen and (min-width: $breakpoint-lg) {
          display: block;
        }
      }

      .mobile {
        @media screen and (min-width: $breakpoint-lg) {
          display: none;
        }
      }
    }

    span {
      transform: translateY(0.125rem);
    }

    &.openned {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      background-color: $blue-dark;
      width: 100%;
      height: 100%;
      left: 0;
      z-index: 50;
      
      a.item {
        color: $white;
      }

      nav{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
      }
    }
  }

  .bg-close-menu-mobile {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    padding-left: 1.5rem;
    text-indent: -624.9375rem;
    border: none;
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    width: 2.25rem;
    height: 2.25rem;
    background-image: url("../../library/icons/close-menu-icon.svg");

    @media screen and (min-width: $breakpoint-md) {
      width: 2.5rem;
      height: 2.5rem;
    }

    @media screen and (min-width: $breakpoint-lg) {
      display: none;
    }
  }

}
