@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  row-gap: 1.25rem;
  
  @media screen and (min-width: $breakpoint-lg) {
    flex-direction: row;
    row-gap: 0;
    column-gap: 1.25rem;
  }

  @media screen and (min-width: $breakpoint-xl) {
    column-gap: 2.5rem;
  }

  @media screen and (min-width: $breakpoint-1_5xl) {
    column-gap: 5rem;
  }

  .button:hover,
  .social-icons a:hover img.hover {
    animation: bounce 1s infinite;
  }

  .social-icons {
    display: flex;
    gap: 1.25rem;

    @media screen and (min-width: $breakpoint-md) {
      gap: 2.5rem;
    }

    img,
    a {
      width: 2.8125rem;
      height: 2.8125rem;
    }
  }

  .title {
    font-family: $font-pacifico;
    margin: 0;
    font-size: 2.375rem;

    @media screen and (min-width: $breakpoint-md) {
      font-size: 3.125rem;
    }
  }

  .button {
    background-color: $blue-dark;
    border-radius: 0.625rem;
    padding: 0.625rem 1.25rem;
    text-transform: uppercase;
    font-weight: 600;
    color: $white;
    border: none;
    cursor: pointer;
    transform: translateY(0);
    text-decoration: none;

    &:hover {
      background-color: $blue;
    }
  }
}

header .social-icons a:hover img.not-hover,
header .social-icons img.hover,
footer a:hover img.not-hover,
footer img.hover {
  display: none;
}

header .social-icons a:hover img.hover,
footer a:hover img.hover {
  display: block;
}

header h1,
.photo,
.popup-content {
  color: $blue-dark;
}
