@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";

header {
  @include col-span-12;
  display: grid;
  align-items: center;
  @include grid-cols-12;
  row-gap: 1.875rem;
  
  @media screen and (min-width: $breakpoint-sm) {
    row-gap: inherit;
  }
  
  .title{
    font-size: 2.25rem;
    text-align: center;
    @include col-span-12;
    
    @media screen and (min-width: $breakpoint-sm) {
      @include col-span-6;
      text-align: left;
    }

    @media screen and (min-width: $breakpoint-lg) {
      @include col-span-7;
    }
  }

  .navbar{
    display: none;
    @media screen and (min-width: $breakpoint-lg) {
      display: block;
      @include col-span-3;
    }

    .list{
      display: flex;
      flex-direction: row;
      justify-content: end;
      column-gap: 1.25rem;
    }
  }

  .download{
    @include col-span-12;
    text-align: center;
    
    @media screen and (min-width: $breakpoint-sm) {
      text-align: right;
      @include col-span-6;
    }
    
    @media screen and (min-width: $breakpoint-lg) {
      @include col-span-2;
    }
    
    .button{
      background-color: $blue;
      color: $blue-dark;
      border-radius: 0.625rem;

      &:hover{
          background-color: $blue-dark;
          color: $gray-light;
          @include transition-colors;
      }
    }
  }
}
